
.header-bg {
    background-image: url('img/close-up-man-writing-code-laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.6); 
    background-blend-mode: multiply; 
    display: flex;
    flex-direction: column;
}

.hero-content {
    flex-grow: 1; 
}

.section-02 {
    background-color: #d2dce6;
}

footer.section-02 {
    background-color: #212529;
}
